# Python
__pycache__/
*.py[cod]
*$py.class

# PyTorch datasets
data/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.DS_Store
